@model Nueva.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container " style="padding-bottom:20px;">


     
        @using (Html.BeginForm(new { Class = "contact_form form_hint" , align="center"} ))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
           
            
    <div class="container contact_form" align="center" style="padding-top:80px; ">
        
        <legend align="center" class="legend" style="padding-bottom:50px;">
            <br /><h2 align="center">Registro de usuario</h2>
            Creará una nueva cuenta de usuario, por favor complete los siguientes campos:<br/>
            <em>Recuerde que los campos con (<font color="red">*</font>) son obligatorios</em><br/><br />

            @Html.LabelFor(m => m.UserName, new { @class = "item" })<br />
            @Html.TextBoxFor(m => m.UserName, new { @class = "item", Required = "true" })<br />
            <span class="form_hint">Un apodo con el cual usted se sienta identificado</span>

            @Html.LabelFor(m => m.Password)<br />
            @Html.PasswordFor(m => m.Password, new { @class = "item", Required = "true", Pattern = ".{6,}" , Placeholder="6 caracteres como minimo"})<br />
            <span class="form_hint">6 caracteres como mínimo</span>

            @Html.LabelFor(m => m.ConfirmPassword)<br />
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "item", Required = "true" , Pattern=".{6,}" ,Placeholder="6 caracteres como minimo"})<br /><br />
            <span class="form_hint">6 caracteres como mínimo)</span>
           
            <input type="submit" value="Registrarse" class="btn btn-primary" /><br />     
        </legend>
      
        </div>
            
                   



        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }


    </div>
</section>

